@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box
}

.af-repeat-ele {
    @apply border border-dashed border-slate-400/50 rounded;
}

.af-repeat-ele .af-repeat-ele {
    @apply border border-solid;
}

.af-repeat-ele .af-repeat-ele .af-repeat-ele {
    @apply border border-dotted;
}

.af-msg-grid {
    @apply grid grid-cols-msg gap-x-4 gap-y-8 p-4;
}

.af-label {
    @apply text-right inline-flex flex-col;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* div which is a direct child of af-msg-grid */
.af-msg-grid> :not(.af-label) {
    grid-column-start: 2;
    grid-column-end: 3;
}